<!DOCTYPE html>
<html ng-app="angularjsNodejsTutorial">
    <head>
    <link rel="shortcut icon" href="images/favicon.ico"/>
        <title>NYC Taxi Habits</title>
        
        <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js"></script>
        <script src="javascripts/app.js" type="text/javascript"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="stylesheets/style.css">
    </head>
<body>

    <body data-spy="scroll" data-target=".scrollspy">
        <header></header>
        <!-- Static navbar-->
        <nav role="navigation" class="navbar navbar-static-top navbar-default">
            <div class="container">
                <div class="navbar-header"><button type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="/" class="navbar-brand">NYC Taxi Habits</a></div>
                <div id="navbar" class="collapse navbar-collapse">
                    <li class="active"><a href="/">City-Wide Habits</a></li>
                    <li><a href="/borough">Borough Habits</a></li>
                    <li><a href="/zone">Zone Habits</a></li>
                </div>
            </div>
        </nav>
         <div class="container">
            <!-- Main component for a primary marketing message or call to action-->
        <div class="jumbotron">
        <div ng-controller="habitController" >
        <h3>City-Wide Habits</h3>
        <p> <b>
        <!-- <form id="form1" onclick="drawChart(); return false" > -->
        <!-- <span aria-hidden="true" class="glyphicon text-primary glyphicon-search"></span>  -->
        Temp -  
            Min: <input name="temp_min" ng-model="temp_min" value="0">
            Max: <input name="temp_max" ng-model="temp_max" value="100"></br>
            <!-- <span aria-hidden="true" class="glyphicon text-primary glyphicon-search"></span>  -->
            Rain -  
            Min: <input name="rain_min" ng-model="rain_min" value="0">
            Max: <input name="rain_max" ng-model="rain_max" value="0"></br>
            <!-- <span aria-hidden="true" class="glyphicon text-primary glyphicon-search"></span>  -->
            Snow -  
            Min: <input name="snow_min" ng-model="snow_min" value="0">
            Max: <input name="snow_max" ng-model="snow_max" value="0"></br>
            <!-- <span aria-hidden="true" class="glyphicon text-primary glyphicon-search"></span> -->
             Wind -  
            Min: <input name="wind_min" ng-model="wind_min" value="0">
            Max: <input name="wind_max" ng-model="wind_max" value="100"></br>
            </b>
            <button type="button" onclick="setTimeout(drawChart, 8000);" ng-click="Submit()" class="button">Show City Stats</button>
            <!-- </form> -->
        </b>
        </p>

        <table id="table" border="0" cellpadding="10" cellspacing="1" width="500" align="center"> 
            <tr> 
            <td> <b><u>Total Amount</u></b> </td>
            <td> <b><u> Fare Amount</u></b></td>
            <td> <b><u> Tip Amount </u></b></td>
            <td> <b><u> Tip Percent </u></b></td>
            <td> <b><u> Distance </u></b></td>
            <td> <b><u> Total Time </u></b></td>
            <tr ng-repeat="x in data"> 
            <td id="total">{{x.total}} </td>
            <td id="fare"> {{x.fare}} </td>
            <td id="tip"> {{x.tip}} </td>
            <td id="tippct"> {{x.tippct}}% </td>
            <td id="distnace"> {{x.distance}} </td>
            <td id="time"> {{x.time}} </td>
            </tr>
        </table>

        </div>
<div width="500">
<div float="left" width="100" id="spendingchart" align="center"></div><br>
<div float="left" width="100" id="distancechart" align="center"></div><br>
<div float="left" width="100" id="durationchart" align="center"></div><br>
</div>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">
// Load google charts
google.charts.load('current', {'packages':['corechart']});
// google.charts.setOnLoadCallback(drawChart);
var total;
var fare;
var tip;
var dist;
var min;

function drawChart() {

var table = document.getElementById('table');
total = parseFloat(table.rows[1].cells[0].innerHTML);
fare = parseFloat(table.rows[1].cells[1].innerHTML);
tip = parseFloat(table.rows[1].cells[2].innerHTML);
dist = parseFloat(table.rows[1].cells[4].innerHTML);
min = parseFloat(table.rows[1].cells[5].innerHTML);

  var dataSpending = google.visualization.arrayToDataTable([
  ['Payment', 'Dollars'],
  ['Total', total],
  ['Fare', fare],
  ['Tip', tip]
    ]);

var dataDist = google.visualization.arrayToDataTable([
  ['Distance', 'Miles'],
  ['Distance', dist]
]);

  var dataDuration = google.visualization.arrayToDataTable([
  ['Duration', 'Minutes'],
  ['Duration', min]
]);
    var options1 = {'title':'City-Wide Average Taxi Spending', 'width':550, 'height':400, 'vAxis': {format: 'currency', title: "Dollars"},
    'hAxis': {title: "Payment Type"}};
    var chart1 = new google.visualization.ColumnChart(document.getElementById('spendingchart'));
    chart1.draw(dataSpending, options1);

    var options2 = {'title':'City-Wide Average Taxi Distance', 'width':550, 'height':400, 'vAxis': {title: "Miles"}};
    var chart2 = new google.visualization.ColumnChart(document.getElementById('distancechart'));
    chart2.draw(dataDist, options2);

    var options3 = {'title':'City-Wide Average Taxi Duration', 'width':550, 'height':400, 'vAxis': {title: "Minutes"}};
    var chart3 = new google.visualization.ColumnChart(document.getElementById('durationchart'));
    chart3.draw(dataDuration, options3);      
}
</script></br>
</body>
</html>