<!DOCTYPE html>
<html ng-app="angularjsNodejsTutorial">
    <head>
    <link rel="shortcut icon" href="../public/images/favicon.ico"/>
    <link rel="shortcut icon" type="image/png" href="../public/images/taxi.png"/>
        <title>NYC Taxi Habits</title>
        
        <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js"></script>
        <script src="javascripts/app.js" type="text/javascript"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    </head>
<body>

    <body data-spy="scroll" data-target=".scrollspy">
        <header></header>
        <!-- Static navbar-->
        <nav role="navigation" class="navbar navbar-static-top navbar-default">
            <div class="container">
                <div class="navbar-header"><button type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="#" class="navbar-brand">NYC Taxi Habits</a></div>
                <div id="navbar" class="collapse navbar-collapse">
                    <li class="active"><a href="/">Overall Consumer Habits</a></li>
                    <li><a href="/borough">Habits By Borough</a></li>
                    <li><a href="/zone">Habits By Zone</a></li>
                </div>
            </div>
        </nav>
         <div class="container">
            <!-- Main component for a primary marketing message or call to action-->
        <div class="jumbotron">
        <div ng-controller="habitController" >
        <h3>Overall Habits</h3>
        <p>
        <!-- <form id="form1" onclick="drawChart(); return false" > -->
        <!-- <span aria-hidden="true" class="glyphicon text-primary glyphicon-search"></span>  -->
        Temperature -  
            Min: <input name="temp_min" ng-model="temp_min" value="-100">
            Max: <input name="temp_max" ng-model="temp_max" value="100"></br>
            <!-- <span aria-hidden="true" class="glyphicon text-primary glyphicon-search"></span>  -->
            Rain -  
            Min: <input name="rain_min" ng-model="rain_min" value="0">
            Max: <input name="rain_max" ng-model="rain_max" value="0"></br>
            <!-- <span aria-hidden="true" class="glyphicon text-primary glyphicon-search"></span>  -->
            Snow -  
            Min: <input name="snow_min" ng-model="snow_min" value="0">
            Max: <input name="snow_max" ng-model="snow_max" value="0"></br>
            <!-- <span aria-hidden="true" class="glyphicon text-primary glyphicon-search"></span> -->
             Wind -  
            Min: <input name="wind_min" ng-model="wind_min" value="0">
            Max: <input name="wind_max" ng-model="wind_max" value="0"></br>
            <button type="button" onclick="drawChart();" ng-click="Submit()" class="button">Show Habits By Weather</button>
            <!-- </form> -->
        </p>

        <table border="0" cellpadding="10" cellspacing="1" width="500" align="center"> 
            <tr> 
            <td> Total Amount </td>
            <td> Fare Amount </td>
            <td> Tip Amount </td>
            <td> Tip Percent </td>
            <td> Distance </td>
            <td> Total Time</td>
            <tr ng-repeat="x in data"> 
            <td id="total"> {{x.total}} </td>
            <td id="fare"> {{x.fare}} </td>
            <td id="tip"> {{x.tip}} </td>
            <td id="tippct"> {{x.tippct}} </td>
            <td id="distnace"> {{x.distance}} </td>
            <td id="time"> {{x.time}} </td>
            </tr>
        </table>

        </div>
<div id="spendingchart" align="center"></div>
<div id="distancechart" align="center"></div>
<div id="durationchart" align="center"></div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">
// Load google charts
google.charts.load('current', {'packages':['corechart']});
// google.charts.setOnLoadCallback(drawChart);
var total = 15;
var fare = 10;
var tip = 2;
var dist = 2;
var min = 15;

function drawChart() {
    // Draw the chart and set the chart values
// var total = 15;
// var fare = 10;
// var tip = 2;

total=document.getElementById('total');
console.log("!!!!!!!");
console.log(total);
fare=document.getElementById('fare');
tip=document.getElementById('tip');

  var dataSpending = google.visualization.arrayToDataTable([
  ['Payment', 'Dollars'],
  ['Total', total],
  ['Fare', fare],
  ['Tip', tip]
    ]);

var dataDist = google.visualization.arrayToDataTable([
  ['Distance', 'Miles'],
  ['Distance', dist]
]);

  var dataDuration = google.visualization.arrayToDataTable([
  ['Duration', 'Minutes'],
  ['Duration', min]
]);
    var options1 = {'title':'Consumer Taxi Spending in Borough', 'width':550, 'height':400};
    var chart1 = new google.visualization.ColumnChart(document.getElementById('spendingchart'));
    chart1.draw(dataSpending, options1);

    var options2 = {'title':'Consumer Taxi Distance in Borough', 'width':550, 'height':400};
    var chart2 = new google.visualization.ColumnChart(document.getElementById('distancechart'));
    chart2.draw(dataDist, options2);

    var options3 = {'title':'Consumer Taxi Duration in Borough', 'width':550, 'height':400};
    var chart3 = new google.visualization.ColumnChart(document.getElementById('durationchart'));
    chart3.draw(dataDuration, options3);    
}
</script></br>
</body>
</html>